extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/access.pug
include ../../mixins/box-head.pug

block main  
  +alert-server()
  if(userRole.permissions.includes("roles_edit"))
    +box-head(pageTitle)
    form(
      action=`/${prefixAdmin}/roles/edit/${data.id}?_method=PATCH`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề 
          span(class="required") *
        input(
          placeholder="Nhập tiêu đề cho nhóm quyền"
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          value=`${data.title}`
        )
      div(class="form-group")
        label(for="desc") Mô tả
        input(
          placeholder="Nhập mô tả ngắn cho nhóm quyền"
          type="text"
          class="form-control"
          id="desc"
          name="description"
          value=`${data.description}`
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn button-default"
        ) Cập nhật
  else 
    +accessDenied()