extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/access.pug

block main
  +alert-server()
  if(userRole.permissions.includes("roles_view"))
    div(class="card mb-3")
      div(class="card-header")
        div(class="row")
          div(class="col-4")
            h2(class="inner-title") #{pageTitle}
          div(class="col-6")
          div(class="col-2")
            div(class="btn-create")
              a(class="btn btn-outline-default", href="/admin/roles/create") + Thêm Mới

    .card.mb-3
      div(class="card-header")
        div(class="row align-items-center")
          div(class="col-3 d-flex align-items-center")
            span(class="card-head") Danh sách
      .card-body.py-0
        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th STT
              th Nhóm quyền
              th Mô tả ngắn
              th Tổng thành viên
              if(userRole.permissions.includes("roles_edit") || userRole.permissions.includes("roles_delete"))
                  th Hành động

          tbody
            if(records.length > 0)
              each item, index in records
                tr(class="table-row")
                  td #{index + 1}
                  td #{item.title}
                  td #{item.description}
                  td 
                    p(class="text-center w-50 mb-0") #{item.totalAccount}
                  td
                    if(userRole.permissions.includes("roles_edit"))
                      a(class="btn btn-outline-warning btn-sm mr-1", href=`/${prefixAdmin}/roles/edit/${item.id}`)
                          i(class="fa-solid fa-pen-to-square")
                    if(userRole.permissions.includes("roles_delete"))
                      button(class="btn btn-outline-danger btn-sm mr-1", button-delete, data-id=item.id)
                        i(class="fa-solid fa-trash-can")
            else
              tr
                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.

    form(
      form-delete-item 
      method="POST"
      action=""
      data-path=`/${prefixAdmin}/roles/delete`
    )
  else
    +accessDenied()