extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/access.pug
include ../../mixins/box-head.pug

block main
  +alert-server()
  if(userRole.permissions.includes("roles_permissions"))
    div(class="card mb-3")
      div(class="card-header")
        div(class="row")
          div(class="col-4")
            h2(class="inner-title") #{pageTitle}
          div(class="col-6")
          div(class="col-2")
            if(records.length > 0)
              div(data-records=records)
              div(class="text-right")
                button(
                  type="submit"
                  class="btn button-default px-3 py-2"
                  button-submit-permissions
                ) Cập nhật

    if(records.length > 0)
      table(
        class="table table-hover table-sm"
        table-permissions
      )
        thead
          tr
            th Tính năng
            each item, index in records
              th(class="text-center") #{item.title}
        
        tbody
          tr 
            td Chọn tất cả
            each item, index in records 
              td(class="text-center") 
                input(type="checkbox" class="inputCheckAll" data-column=index) 
          tr(data-name="id" class="d-none")
            td Id nhóm quyền
            each item in records
              td(class="text-center")
                input(type="text" value=item.id)
                
          //- Danh mục sản phẩm
          tr
            td(colspan="4" class="bg-dark text-white ")
              span(class="font-italic") Danh mục sản phẩm
          tr(data-name="products-category_view")
            td Xem
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products-category_create")
            td Thêm mới
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products-category_edit")
            td Chỉnh sửa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products-category_delete")
            td Xóa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)

          //- Sản phẩm
          tr
            td(colspan="4" class="bg-dark text-white")
              span(class="font-italic") Sản phẩm
          tr(data-name="products_view")
            td Xem
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products_create")
            td Thêm mới
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products_edit")
            td Chỉnh sửa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="products_delete")
            td Xóa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)

          //- Nhóm quyền
          tr
            td(colspan="4" class="bg-dark text-white")
              span(class="font-italic") Nhóm quyền
          tr(data-name="roles_view")
            td Xem
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="roles_create")
            td Thêm mới
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="roles_edit")
            td Chỉnh sửa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="roles_permissions")
            td Phân quyền
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="roles_delete")
            td Xóa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)

          //- Tài khoản 
          tr
            td(colspan="4" class="bg-dark text-white")
              span(class="font-italic") Tài khoản
          tr(data-name="accounts_view")
            td Xem
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="accounts_create")
            td Thêm mới
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="accounts_edit")
            td Chỉnh sửa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="accounts_delete")
            td Xóa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)

          //- Cài đặt chung
          tr
            td(colspan="4" class="bg-dark text-white")
              span(class="font-italic") Cài đặt chung
          tr(data-name="settings_view")
            td Xem
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          tr(data-name="settings_edit")
            td Chỉnh sửa
            each item, index in records
              td(class="text-center")
                input(type="checkbox" class="checkbox" data-column=index)
          
      form(
        form-change-permissions
        method="POST"
        action=`/${prefixAdmin}/roles/permissions?_method=PATCH`
        class="d-none"
      )
        div(class="form-group")
          input(
            type="text"
            class="form-control"
            name="roles"
        )
    else
      p Chưa có nhóm quyền nào
  
  else 
    +accessDenied()
    
  script(src="/admin/js/role.js")
