extends  ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
  .container.my-5
    +alert-server()
    .row.justify-content-center
      .col-5
        h1(class="text-center mb-5") Đăng nhập quản trị
        form(
          action=`/${prefixAdmin}/auth/login`
          method="POST"
        )
          div(class="form-group")
            input(
              placeholder="Nhập email người quản trị"
              type="email"
              class="form-control"
              id="email"
              name="email"
              value=email
            )
          div(class="form-group")
            input(
              placeholder="Nhập mật khẩu"
              type="password"
              class="form-control"
              id="password"
              name="password"
            )
          div(class="form-group d-flex justify-content-center")
            button(
              type="submit"
              class="btn btn-pill button-login"
            ) Đăng nhập