extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-card.pug

block main
  div(class="detail container")
    div(class="detail-summary row")
      div(class="col-5")
        div(class="detail-image")
          img(src=product.thumbnail alt=product.title)
      div(class="col-7")
        div(class="row")
          div(class="col-7")
            div(class="product-detail")
              div(class="detail-title")
                h1 #{product.title}
              div(class="product-desc")
                p !{product.description}
          div(class="col-5")
            div(class="info")
              div(class="total")
                h4 Thành tiền
                p (Chưa bao gồm phí ship)
                div(class="total-price") #{product.priceNew}Đ
              div(class="stock")
                span Còn lại:
                span #{product.stock}
              div(class="quantity")
                form(action=`/cart/add/${product.id}` method="POST")
                  div(class="detail-quantity")
                    label(for="quantity") Số lượng:
                    input(id="quantity" type="number" name="quantity" value="1" min="1" max=product.stock)
                  div(class="buy")
                    button(type="submit") Thêm vào giỏ hàng

  if(relatedProduct.length > 0)
    div(class="product-related container")
      div(class="related-head")
        h3 Mẫu liên quan
      div(class="row")
        each item, index in relatedProduct
          +product-card(item)


