extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12
        .chat(my-id=user.id)
          //- .inner-head
          //-   .inner-avatar EY
          //-   .inner-name Em Yêu
          .inner-body
            each message in chats 
              div(
                class=(user.id === message.userId ? "inner-outgoing" : "inner-incoming")
              )
                if(user.id !== message.userId)
                  .inner-name #{message.fullName}
                .inner-content 
                  | #{message.content}

            div(class="inner-list-typing")
              div(class="box-typing")
                div(class="inner-name") Le Van A
                div(class="inner-dots")
                  span
                  span
                  span
              div(class="box-typing")
                div(class="inner-name") Le Van B
                div(class="inner-dots")
                  span
                  span
                  span

          .inner-foot
            span(class="notify d-none") 
              | Tin nhắn mới 
              i.fa-solid.fa-angle-down
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              span(
                button-icon
                class="btn btn-sm mx-1"
              ) 
                i(class="fa-regular fa-face-smile")
              button
                i.fa-solid.fa-paper-plane

    div(class="tooltip" role="tooltip")
      emoji-picker(class="light")