extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        +box-head(pageTitle)
    .row.justify-content-center
      .col-md-6.form-box
        form(
          action="/user/register"
          method="POST"
        )
          div(class="form-group")
            label(for="fullName") Họ và tên *
            input(
              placeholder="Nhập họ và tên"
              type="text"
              class="form-control"
              id="fullName"
              name="fullName"
            )
          div(class="form-group")
            label(for="email") Email *
            input(
              placeholder="Nhập email của bạn"
              type="email"
              class="form-control"
              id="email"
              name="email"
              
            )
          div(class="form-group")
            label(for="password") Mật khẩu *
            input(
              placeholder="Nhập mật khẩu"
              type="password"
              class="form-control"
              id="password"
              name="password"
              
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block mt-2 w-100"
            ) Đăng ký