extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success()
  +alert-error()
  .container
    .profile-card
      .row
        .col-md-4
          if(user.avatar)
            img(src=user.avatar alt="Avatar" class="avatar img-fluid rounded-circle")
          else 
            img(src="/admin/images/avatar.png" alt="Avatar" class="avatar img-fluid rounded-circle")
        .col-md-8
          h2= user.fullName
          p
            strong Email:
            |  #{user.email}
          p
            strong Phone:
            |  #{user.phone}
          p
            strong Trạng thái:
            if user.status == 'active'
              span.badge.badge-success Hoạt động
            else
              span.badge.badge-danger Dừng hoạt động
          p
            strong Vai trò:
            |  #{userRole.title}
          a(href=`/${prefixAdmin}/my-account/edit` class="btn btn-primary") Chỉnh sửa thông tin
